.services-header {
  margin-bottom: 10px;
}

.add-service-btn {
  background-color: #74c11d;
  color: #fff;
}

.service-btn {
  background-color: #f2f2f2;
  border-radius: 0;
  text-align: left;
  padding-left: 20px;
  margin: 5px;
}

.collapse {
  margin: 20px;
}
