<div id="orderHeader" class="row">
  <div class="col">
    <h5>Services</h5>
    <button class="btn add-service-btn" data-toggle="modal" data-target="#modal" (click)="clearSelected()">
      <i class="fas fa-plus" data-toggle="collapse" data-target="#modal"></i>
      <u> Add Service</u>
    </button>
    <div>
      <input class="collapse search" id="search" type="text" />
    </div>
    <div>
      <a id="hover" data-toggle="collapse" data-target="#search">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor="let s of serviceNames; let i = index;">
    <div class="service-btn btn col-lg-12 arrow-toggle" data-toggle="collapse" data-target="#demo" [attr.data-target]="'#serv' + s.id">
      <a>{{ s.name | titlecase}}</a>
      <div class="side-buttons">
        <div class="btn" data-toggle="modal" data-target="#modal">
          <i class="far fa-edit" (click)="setValue(s)"></i>
        </div>
        <div class="btn" data-toggle="modal" data-target="#modal">
          <i class="far fa-trash-alt" (click)="deleteService(s)" style="color:#c13712"></i>
        </div>
        <div class="btn" style="float: right;">
          <i class="fas fa-angle-up" style="padding-left: 40%;"></i>
          <i class="fas fa-angle-down" style="padding-left: 40%;"></i>
        </div>
      </div>
    </div>
    <div id="demo" [attr.id]="'serv' + s.id" class="providers collapse col-lg-12">
      <div class="left">
        <a>
          <p>Providers for:</p>
        </a>
        <p>{{ s.name | titlecase }}</p>
      </div>
      <div *ngFor="let p of serviceList[i]; let j = index">
        <div *ngIf="j < 3" class="service-provider">
          <img src="" [attr.src]="p.picture">
          <div></div>
          <a>{{ p.name | titlecase }}</a>
        </div>
      </div>
      <div class="service-provider">
        <div style="background-color: rgba(0,0,0,1)"></div>
        <a [routerLink]="['/panel/provider/', s.id]">View All Providers</a>
      </div>
    </div>
  </div>
</div>

<app-add-form [values]="selectedService" (formOutput)="recieveFormData($event)"></app-add-form>