<div id="orderHeader" class="row">
  <div class="col">
    <h5>Services</h5>
    <button class="btn add-service-btn" data-toggle="modal" data-target="#modal">
      <i class="fas fa-plus" data-toggle="collapse" data-target="#search"></i>
      <u> Add Service</u>
    </button>
    <div>
      <input class="collapse search" id="search" type="text" />
    </div>
    <div>
      <a id="hover" data-toggle="collapse" data-target="#search">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor="let s of serviceNames; let i = index;">
    <div class="service-btn btn col-lg-12 arrow-toggle" data-toggle="collapse" data-target="#demo" [attr.data-target]="'#serv' + s.id">
      <a>{{ s.name | titlecase}}</a>
      <div class="side-buttons">
        <div data-toggle="modal" class="btn" data-target="#modal1">
          <i class="far fa-edit" (click)="editService(s)"></i>
        </div>
        <div class="btn">
          <i class="far fa-trash-alt" (click)="deleteService(s)" style="color:#c13712"></i>
        </div>
        <i class="fas fa-angle-up" style="padding-left: 60%;"></i>
        <i class="fas fa-angle-down" style="padding-left: 60%;"></i>
      </div>
    </div>
    <div id="demo" [attr.id]="'serv' + s.id" class="collapse col-lg-12 row providers">
      <div class="col-s-2 col-md-2 col-lg-2 left">
        <a>
          <p>Providers for:</p>
        </a>
        <p>{{ s.name | titlecase }}</p>
      </div>
      <div class="col-lg-2 service-provider" *ngFor="let p of serviceList[i]; let j = index">
        <div *ngIf="j < 1">
          <img src="" [attr.src]="p.picture">
          <div></div>
          <a>{{ p.name | titlecase }}</a>
        </div>
      </div>
      <div class="col-lg-2 service-provider">
        <div style="background-color: rgba(0,0,0,1)"></div>
        <a [routerLink]="['/panel/providers/', s.id]">View All Providers</a>
        <!-- add the id of the provider in this link to activate a provider in the next page -->
      </div>
    </div>
  </div>
</div>

<app-add-form modalId="modal" title="Add a Service" (formOutput)="recieveNewServiceName($event)"></app-add-form>

<!-- Calling the modal component to edit -->

<!-- <app-add-form modalId="modal" title="Edit Service" (formOutput)="recieveNewServiceName($event)"></app-add-form> -->


<!-- Edit Service Modal Written Here temporarily -->

<div id="modal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Edit Service</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="row add-form-modal-row">
          <div class="col-lg-4 col-sm-12">
            <p>Field Name:</p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <input type="text" [(ngModel)]="editedService.name" />
          </div>
        </div>

        <div class="row add-form-modal-submit">
          <div class="col-lg-12">
            <button class="btn" (click)="saveEditService()" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>