@import "../../stylesheets/order.scss";

.add-service-btn {
  background-color: #74c11d;
  color: #fff;
}

#container {
  background: #f2f2f2;
  width: 100%;
  position: absolute;
  height: 100%;
  margin-left: -4%;
  padding: 3% 5% 1% 5%;
}

#category {
  width: 300px;
  height: 160px;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
}

#category-header {
  background: #fbfbfb;
  padding: 3%;
}

#category-header .side-buttons {
  float: right;
  align-items: center;
  width: 30%;
}

#category-body {
  height: 60%;
  padding: 7% 5% 5% 5%;
}

#category-body img {
  width: 30%;
}

a {
  padding-left: 25px;
  font-family: AvenirNext;
  font-size: 18px;
}

#category-footer {
  width: 100%;
  margin: -9% 0% 0% -3%;
  padding: 10px;
  text-align: right;
}

#category-footer i {
  color: goldenrod;
  float: left;
  padding-left: 17%;
}
