<div id="orderHeader" class="row">
  <div class="col">
    <h5>Menu</h5>
    <div>
      <input class="collapse search" id="search" type="text" [(ngModel)]="searchText" placeholder="Search" />
    </div>
    <div>
      <a id="hover" data-toggle="collapse" data-target="#search">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<nav class="nav">
  <ul class="nav nav-tabs" style="border: 0 !important">
    <li class="nav-item" *ngFor="let category of categories">
      <a class="nav-link" [ngClass]="{'active': category.id == catId, 'service': category.id == catId}" style="height: 100%; padding-bottom: 0; padding-top: 2%;"
        (click)="setCatId(category.id)"> {{category.name | titlecase}}
        <a style="margin-bottom: 2px" class="edit" data-toggle="modal" data-target="#modal" *ngIf="category.id == catId" (click)="setValue(category)">
          <u>Edit Category</u>
        </a>
        <a class="edit" *ngIf="category.id == catId" (click)="deleteCategory(category.id)">
          <u>Delete Category</u>
        </a>
      </a>
    </li>
    <li class="nav-item">
      <button class="btn add-service-btn" data-toggle="modal" data-target="#modal" (click)="clearSelectedCat()">
        <i class="fas fa-plus"></i>
        <u> Add Category</u>
      </button>
    </li>
  </ul>
</nav>

<div id="container">
  <div id="category" class="add" *ngIf="catId != -1">
    <a data-toggle="modal" data-target="#modal" (click)="clearSelectedItem()">
      <u>
        <i class="fas fa-plus"></i> Add Item</u>
    </a>
  </div>
  <div id="category" *ngFor="let product of products | search : 'name':searchText; let i = index;">
    <div id="category-header">
      <a>Item {{i+1}}</a>
      <div class="side-buttons">
        <i class="far fa-edit" style="margin-right: 40%;" (click)="setValue(product)" data-toggle="modal" data-target="#modal"></i>
        <i class="far fa-trash-alt" (click)="deleteProduct(product.id)" style="color:#c13712"></i>
      </div>
    </div>
    <div id="category-body">
      <img src="{{product.picture}}">
      <div>
        <div class="body-text">
          <a>{{product.name | titlecase}}</a>
          <a>{{product.price|currency:'USD'}}</a>
        </div>
        <div class="body-description">
          <p>{{product.description | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-form [values]="selectedService" (formOutput)="recieveFormData($event)"></app-add-form>