<div id="orderHeader" class="row">
  <div class="col">
    <h5>Service Providers</h5>
    <button class="btn add-service-btn" data-toggle="modal" data-target="#modal">
      <i class="fas fa-plus" data-toggle="collapse" data-target="#search"></i>
      <u> Add Provider</u>
    </button>
    <div>
      <input class="collapse search" id="search" type="text" />
    </div>
    <div>
      <a id="hover" data-toggle="collapse" data-target="#search">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<nav class="nav">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Active</a>
    </li>
    <li class="nav-item" *ngFor="let service of services">
      <a class="nav-link" data-toggle="tab" href="#menu1">{{service.name | titlecase}}</a>
    </li>
  </ul>
</nav>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>

<div id="container">
  <div id="category" *ngFor="let provider of providers; let i = index;">
    <div id="category-header">
      <a>Provider {{i+1}}</a>
      <div class="side-buttons">
        <i class="far fa-edit" style="margin-right: 40%;" (click)="edit()"></i>
        <i class="far fa-trash-alt" (click)="delete()" style="color:#c13712"></i>
      </div>
    </div>
    <div id="category-body">
      <img src="{{provider.picture}}">
      <a>{{provider.name | titlecase}}</a>
    </div>
    <div id="category-footer">
      <i class="fas fa-star" *ngIf="!provider.gem"></i>
      <a style="align-self: left;" [routerLink]="'/panel/category/'+provider.id">Check Menu</a>
    </div>
  </div>
</div>


<app-add-form [title]="addServiceModalTitle" (formOutput)="recieveNewServiceName($event)"></app-add-form>