<form class="form-horizontal container" [formGroup]="resetForm" (ngSubmit)="onFormSubmit()">
  <div class="row register-header">
    <div class="col-lg-8">
      <h5>Reset Password</h5>
    </div>
  </div>
  <fieldset>
    <div class="row">
      <div class="form-group col-lg-8">
        <label for="inputToken" class="control-label">Token</label>
        <div>
          <input type="text" class="form-control" id="inputToken" formControlName="token">
        </div>
        <p class="text-danger" *ngIf="token.touched && token.invalid">Token field can't be blank</p>
        <div class="row" formGroupName="password" style="margin-top: 2em;">
          <div class="form-group col-lg-6">
            <label for="inputPassword" class="control-label">Password</label>
            <input type="password" formControlName="pwd" id="inputPassword" class="form-control">
            <div class="text-danger" *ngIf="(password.controls.pwd.invalid && password.controls.pwd.touched)" class="text-danger">
              Password needs to be more than 8 characters
            </div>
          </div>
          <div class="form-group col-lg-6">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input type="password" formControlName="confirmPwd" id="confirmPassword" class="form-control">
            <div class="text-danger" *ngIf="resetForm.get(['password','pwd']).value != resetForm.get(['password','confirmPwd']).value && resetForm.get(['password','confirmPwd']).value
            != null">
              Password does not match
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" form-group col-lg-8 submit-register ">
      <button type="submit " [disabled]="!resetForm.valid " class="form-submit-button btn btn-primary ">Reset</button>
    </div>
  </fieldset>
</form>