<form class="form-horizontal" [formGroup]="forgetForm" (ngSubmit)="onFormSubmit()">
  <div class="row form-header">
    <div class="col-lg-12">
      <p>Reset Passwod</p>
    </div>
  </div>
  <fieldset>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="inputEmail" class="control-label">Please enter your email.</label>
        <div>
          <input type="text" class="form-control" id="inputEmail" formControlName="email">
        </div>
        <div *ngIf="email.invalid && email.touched" class="col-sm-8 text-danger">
          <p class="text-danger" *ngIf="email.errors?.pattern">Please enter a valid email</p>
        </div>
      </div>
    </div>
    <div class="form-group col-lg-8 submit-register">
      <button type="submit" [disabled]="!forgetForm.valid" class="form-submit-button btn btn-primary">Send Token</button>
      <div style="padding-top: 3%;">Already have a valid Token?
        <u style="cursor: pointer;" routerLink="/reset">Reset</u>
      </div>
    </div>
  </fieldset>
</form>
