.form-horizontal {
  padding: 10%;
}

.submit-register {
  margin-top: 50px;
  text-align: center;
}

.form-submit-button {
  background-color: #74c11d !important;
  width: 100%;
  border-radius: 0;
}

.register-header {
  margin-bottom: 50px;
}
