<div id="orderHeader" class="row">
  <div class="col">
    <h5>Requests</h5>
    <div>
      Sort:
    </div>
    <div style="width: 14%;">
      <select class="minimal">
        <option value="" selected style="display:none" disabled>Sort</option>
        <option>Date</option>
        <option>Service</option>
        <option>Service Provider</option>
        <option>Item number</option>
        <option>Quantity</option>
      </select>
    </div>
    <div>
      <a id="hover">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>
<div *ngFor="let order of orders">
  <div id="currentOrderBody" class="row">
    <div class="col-s-2 col-md-2 col-lg-2">
      <a>
        <p>Service</p>
      </a>
      <p>{{order.service_name | titlecase}}</p>
    </div>
    <div class=" col-md-6 col-lg-6">
      <div class="upper">
        <p> {{order.user_name | titlecase}}- Ref: {{order.checkin_store_ref}}</p>
        <a>
          <p>{{order.created_at | date:'medium'}}</p>
        </a>
      </div>
      <div class="choice">
        <div class="lowerleft">
          <a>
            <p>Service Provider</p>
          </a>
          <p>{{order.provide_name | titlecase}}</p>
        </div>
        <div class="lowerright">
          <a>
            <p>Item number</p>
          </a>
          <p>{{order.product_id}}</p>
        </div>
        <div class="lowerright">
          <a>
            <p>Quantity</p>
          </a>
          <p>{{order.quantity}}</p>
        </div>
      </div>
    </div>
    <div class="col-s-4 col-md-4 col-lg-4">
      <div class="row choice">
        <i class="fas fa-check-circle" style="color :#74c11d;" (click)="serve(order.id)"></i>
        <i class="fas fa-times-circle" style="color :#c13712;" (click)="cancel(order.id)"></i>
      </div>
    </div>
  </div>
</div>