<div class="row">
  <div style="width: 20%;">
    <h5>Requests</h5>
  </div>
  <div id="container" style="width: 35%;">
    <div>
      Sort:
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div>
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>