<div id="orderHeader" class="row">
  <div class="col">
    <h5>Checkout</h5>
    <div>
      Sort:
    </div>
    <div style="width: 14%;">
      <select class="minimal">
        <option value="" selected style="display:none" disabled>Sort</option>
        <option>Name</option>
        <option>Price</option>
      </select>
    </div>
    <div>
      <a id="hover">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<div id="checkOutHead">
  <div class="right">
    <a>Name</a>
  </div>
  <div class="middle">
    <a>Date</a>
  </div>
  <div class="leftUp">
    <a>Response</a>
  </div>
</div>

<div *ngFor="let user of users">
  <div id="checkOutBody">
    <div class="right">
      <a>{{user.name | titlecase}}- Ref: {{user.checkin_store_ref | uppercase}}</a>
    </div>
    <div class="middle">
      <a>{{user.checkout_date | date:'mediumDate'}}</a>
    </div>
    <div class="left">
      <a>View Receipt</a>
    </div>
  </div>
</div>