<div id="orderHeader" class="row">
  <div class="col">
    <h5>Checkout</h5>
    <div>
      Sort:
    </div>
    <div style="width: 14%;">
      <select class="minimal">
        <option value="" selected style="display:none" disabled>Sort</option>
        <option>Name</option>
        <option>Price</option>
      </select>
    </div>
    <div>
      <a id="hover">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</div>

<div id="checkOutHead">
  <div class="right">
    <a>Name</a>
  </div>
  <div class="middle">
    <a>Price</a>
  </div>
  <div class="leftUp">
    <a>Response</a>
  </div>
</div>

<div *ngFor="let user of users">
  <div id="checkOutBody">
    <div class="right">
      <a>{{user.name}}</a>
    </div>
    <div class="middle">
      <a>Price</a>
    </div>
    <div class="left">
      <a data-toggle="modal" (click)="selectUser(user)" data-target="#recieptModal">View Receipt</a>
    </div>
  </div>
</div>

<div id="recieptModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Price Breakdown</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <p>Name: </p>
          </div>
          <div class="col-lg-9">
            <p>{{selectedUser.name}}</p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-lg-3">
            <p>Room: </p>
          </div>
          <div class="col-lg-9">
            <p>[Room Number]</p>
          </div>
        </div> -->

        <div class="row">
          <div class="col-lg-3">
            <p>Price Details: </p>
          </div>

          <div class="col-lg-9">

            <div class="row" *ngFor="let order of selectedUserOrders">
              <div class="col-lg-3">
                <p>{{order.name}}</p>
              </div>
              <div class="col-lg-3">
                <p>{{order.price}}</p>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-lg-3">
                <p>Total</p>
              </div>
              <div class="col-lg-3">
                <p>{{selectedUserTotal}}</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 print-reciept">
            <button class="btn">Print Reciept</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>