@import "../../stylesheets/order.scss";

#checkOutHead {
  height: 55px;
  margin-bottom: 2%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  flex-direction: row;
}

#checkOutHead a {
  font-family: AvenirNext;
  font-size: 18px;
}

#checkOutBody {
  margin-bottom: 2%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  flex-direction: row;
}

#checkOutBody a {
  font-family: AvenirNext;
  font-size: 17px;
}

.left {
  background-color: #74c11d;
  width: 40%;
  text-align: center;
}

.leftUp {
  width: 40%;
}

.left a {
  line-height: 55px;
  color: #ffffff;
}

.leftUp a {
  line-height: 55px;
}

.left:hover {
  cursor: pointer;
}

.middle {
  width: 20%;
}

.right {
  width: 40%;
}
